/* Mobile Version */
body {
    background-color: black;
    background-image: url("tulsa-vegan-black-bg01.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
header {
    /* background-color: white; */
    width: 100%;
    height: 100px;
    position: relative;
    margin: 0px;
}
header > img {
    height: 180px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 10px auto;
}
main {
    display: grid;
    padding: 8px 5px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 10px;
    font-family: 'Bebas Neue', cursive;
}
main > a {
    border-radius: 11px;
    padding: 20px;
    text-align: center; 
    box-shadow: 1px 1px 17px -6px #000000;
    background-image: linear-gradient(to bottom, #cafe48, black);
    text-decoration: none;
    color: whitesmoke;
    height: 110px;
    width: 110px;
    margin: auto;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > a:hover {
    background-image: linear-gradient(to bottom, #343434, black);
}
footer {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
footer > p > a {
    text-decoration: none;
    color: whitesmoke;
}
.drive-thru {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: whitesmoke;
}
.drive-thru > div {
    display: grid;
    padding: 8px 5px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 10px;
}
.drive-thru > div > a {
    background-image: linear-gradient(to bottom, #cafe48, black);
    border-radius: 11px;
    padding: 20px;
    text-align: center; 
    box-shadow: 1px 1px 17px -6px #000000;
    text-decoration: none;
    color: whitesmoke;
    height: 110px;
    width: 110px;
    margin: auto;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drive-thru > div > a:hover {
    background-image: linear-gradient(to bottom, #343434, black);
}
.drive-thru > a {
    border-radius: 11px;
    padding: 20px;
    text-align: center; 
    box-shadow: 1px 1px 17px -6px #000000;
    background-image: linear-gradient(to bottom, #cafe48, black);
    text-decoration: none;
    color: whitesmoke;
    height: 40px;
    width: 110px;
    margin: 15px auto;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.drive-thru > a:hover {
    background-image: linear-gradient(to bottom, #343434, black);
}
.drive-thru > div > a > span {
    /* color: #c7d6d5; */
    color: whitesmoke;
    font-size: .65em;
}